<?xml version="1.0" encoding="utf-8"?>

<!-- Default project used when PostSharp is detected according to project references. -->
<Project xmlns="http://schemas.postsharp.org/1.0/configuration" ReferenceDirectory="{$ReferenceDirectory}">

  <Using File="..\PostSharp.Patterns.Diagnostics.Tests\Logging.config"/>
  <Using File="..\PostSharp.Patterns.Diagnostics.Tests.Console\Logging.config"/>

</Project>