# If you need any customization of .editorconfig for the current repo only, this is the right place to add them.
# The .editorconfig in the repo root is a symlink to a file that is common to all repos.